* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: beige;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 0;
}

section {
	text-align: center;
}

section p {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	font-weight: 600;
}

header ul {
	display: flex;
}

header ul > li {
	list-style-type: none;
	margin-left: 1.5rem;
}

header ul > li > a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 800;
	padding-bottom: 5px;
	color: gray;
}

header > p {
	font-size: 1.5rem;
	font-weight: 700;
}

.main-container {
	max-width: 1920px;
	margin: 10px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
